<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css" />
    </head>
    <body>
        
       {{> header }}
        <div class="jumbotron text-center">
              <h1>{{ title }}</h1>
              <p>Resize this responsive page to see the effect!</p> 
               {{ getDate }}
        </div>
    </body>
</html>